
:root{
    --cor_principal: #000000;
    --cor_secundaria: #ffffff;

}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor_secundaria);

}
body{
    background-color: var(--cor_principal);
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 7%;

    text-align: center;

    background-color: lightcoral;
}
main{
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

/*--------------------------  Mes e mudança de Mes ------------------------*/

nav{
    width: 100%;
    height: 5%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mes{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
} 

/*-------------------------- parte dos dias do Mes ------------------------*/

article{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 60%;

    background-color: lightslategray;
}
#calendario{
    width: 95%;
    height: 95%;

    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colunas para os dias da semana */
    text-align: center;

    border: #ffffff solid 1px;
    border-radius: 15px;
}

/*-------------------------- parte das informações e ferramentas ------------------------*/

aside{
    width: 100%;
    height: 35%;

    display: grid;
    grid-template-columns: 3fr 1fr;
}
#inf_dia{
    text-align: center;
    background-color: blue;
}
#ferramentas{
    text-align: center;
    background-color: purple;

}

/*-------------------------- Final do site ------------------------*/

footer{
    width: 100%;
    height: 3%;

    text-align: center;

     background-color: lightgreen;
}